*~
agda2rust.state
# Haskell
dist
dist-newstyle
# Agda
_build
# Agda (GHC backend)
MAlonzo/
# Agda (JS backend)
agda-rts.js
jAgda*
# Rust
*.rlib
target/
# Test suite
test/input.rs
test/Agda
test/build
test/agda2rust
test/rustParse
test/rustPrint
test/reUnicode
test/html
